# pi-monitor service for systemd

[Unit]
Description=Raspberry PI Monitor (OLED)
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/local/bin/pi-monitor
Type=simple
Restart=on-failure
RestartSec=30
Nice=-5

[Install]
WantedBy=default.target